In [1]:
import numpy as np
import pandas as pd

from sklearn.linear_model import LinearRegression

Сегодня проверим какая есть взаимосвязь между гипотетическим количеством кожаных курток у мотоциклиста в шкафу, погодными условиями, водительсим стажем, объемом двигателя мотоцикла и вероятностью аварии

In [10]:
# Создаём сэмпл
n_samples = 500

leather_jackects = np.random.choice(3, n_samples) + 2
weather_conditions = np.random.randint(1,100,n_samples)
years_of_experience = np.random.choice(15, n_samples) + 1
motorcycle_engine = np.random.randint(200,1000,n_samples) + 50

accident_chance = (motorcycle_engine / (weather_conditions * years_of_experience * leather_jackects)) * 100

data = pd.DataFrame({'leather_jackects': leather_jackects, 'weather_conditions': weather_conditions, 'years_of_experience': years_of_experience, 'motorcycle_engine': motorcycle_engine, 'accident_chance': accident_chance})
data.head(5)

,leather_jackects,weather_conditions,years_of_experience,motorcycle_engine,accident_chance
0,3,70,6,819,65.000000
1,3,90,11,312,10.505051
2,3,45,1,594,440.000000
3,4,54,5,357,33.055556
4,3,63,13,882,35.897436

In [11]:
from sklearn.metrics import mean_absolute_error

X = data[['leather_jackects', 'weather_conditions', 'years_of_experience', 'motorcycle_engine']]
y = data['accident_chance']
reg = LinearRegression().fit(X, y)
print('Weights: {}'.format(reg.coef_))
print('Bias: {}'.format(reg.intercept_))

pred_values = reg.predict(data[['leather_jackects','weather_conditions', 'years_of_experience', 'motorcycle_engine']])
print('Error: {}'.format(mean_absolute_error(pred_values, y)))

Weights: [-77.77260864  -9.46837955 -47.84652307   0.17923824]
Bias: 1268.395630449845
Error: 305.5971142142501

Как ни странно, но количество кожаных курток у водителям якобы имеет самый высокий вес)

In [12]:
from sklearn.metrics import mean_absolute_error

X = data[['weather_conditions', 'years_of_experience', 'motorcycle_engine']]
y = data['accident_chance']
reg = LinearRegression().fit(X, y)
print('Weights: {}'.format(reg.coef_))
print('Bias: {}'.format(reg.intercept_))

pred_values = reg.predict(data[['weather_conditions', 'years_of_experience', 'motorcycle_engine']])
print('Error: {}'.format(mean_absolute_error(pred_values, y)))

Weights: [ -9.52706205 -48.64818677   0.16306764]
Bias: 1056.5532419781603
Error: 306.22151295043534

In [15]:
# Создаем новый признак
data['mult'] = data['motorcycle_engine'] / ( data['years_of_experience'] * data['weather_conditions'])
data.head(5)

,leather_jackects,weather_conditions,years_of_experience,motorcycle_engine,accident_chance,mult
0,3,70,6,819,65.000000,1.950000
1,3,90,11,312,10.505051,0.315152
2,3,45,1,594,440.000000,13.200000
3,4,54,5,357,33.055556,1.322222
4,3,63,13,882,35.897436,1.076923

In [16]:
X = data[['mult']]
y = data['accident_chance']
reg = LinearRegression().fit(X, y)
print('Weights: {}'.format(reg.coef_))
print('Bias: {}'.format(reg.intercept_))

pred_values = reg.predict(data[['mult']])
print('Error: {}'.format(mean_absolute_error(pred_values, y)))

Weights: [36.78738456]
Bias: -0.46857610727138876
Error: 72.90609028081272

In [17]:
# Создаем новый признак - что если оставить только 2 фактора?
data['mult2'] = data['motorcycle_engine'] / ( data['years_of_experience'])
data.head(5)

,leather_jackects,weather_conditions,years_of_experience,motorcycle_engine,accident_chance,mult,mult2
0,3,70,6,819,65.000000,1.950000,136.500000
1,3,90,11,312,10.505051,0.315152,28.363636
2,3,45,1,594,440.000000,13.200000,594.000000
3,4,54,5,357,33.055556,1.322222,71.400000
4,3,63,13,882,35.897436,1.076923,67.846154

In [18]:
X = data[['mult2']]
y = data['accident_chance']
reg = LinearRegression().fit(X, y)
print('Weights: {}'.format(reg.coef_))
print('Bias: {}'.format(reg.intercept_))

pred_values = reg.predict(data[['mult']])
print('Error: {}'.format(mean_absolute_error(pred_values, y)))

Weights: [2.37211077]
Bias: -64.9709182480178
Error: 302.0190344679478